/* 
    Document   : resultHotels.css
    Created on : 16/02/2014, 20:33:31
    Author     : asobrado
    Description:
        Purpose of the stylesheet follows.
*/



root { 
    display: block;
}

.ux-common-grid-col9 {
    margin-left: 2.17391%;
    width: 74.4565%;
}

.ux-common-filters {
    background-color: #000000;
    border: 1px solid #000000;
}
/* resulta loaders */

.results-loader .labelwhite {
	color: #ffffff;
	font-weight: bold;
}

.results-loader .searchimagebg {
	height: 340px;
	background: url('/bundles/btctrip/images/searchbg.jpg');
	background-position: top;
	background-repeat: no-repeat;
	color: #ffffff;
	padding-top: 8px;
	padding-bottom: 5px;
	font-size: 1.2em;
	width: 700px;
	margin-left: 0;
}

.results-loader .searchimagebg span {
	font-size: 17px;
}

.results-loader .messagegetting {
	padding-left: 15px;
	width: 285px;
}

.results-loader .detailgetting {
	margin-left: 10px;
	width: 315px;
	min-height: 43px;
}

.results-loader .hotelsdetails {
	font-weight: bold;
}

.results-loader .airlinesearch {
	text-align: center;
	margin-left: 0px;
}

.results-loader .searchprogress {
	margin-top: 115px;
	line-height: 1.4em;
	
}

.results-loader .searchprogress .airline {
	color: #ff9c28;
	font-size: 20px;
	font-weight: bold;
}

.filters {
	width: 230px;
}

.hotels-accordion { border: 1px solid #cccccc }
.hotels-accordion .accordion-section { margin-top: 1px }
.hotels-accordion .accordion-section:first-child { margin-top: 0 }
.hotels-accordion .accordion-header { padding: 0.207em 10px }
.hotels-accordion .accordion-header:before,
.hotels-accordion .accordion-header:after {
    content: "";
    display: table;
}
.hotels-accordion .accordion-header:after { clear: both }
.ie6 .hotels-accordion .accordion-header,
.ie7 .hotels-accordion .accordion-header { zoom: 1 }
.hotels-accordion .accordion-header h4 {
    margin: 0;
    float: left;
}
.hotels-accordion .accordion-header .accordion-arrow { 
	float: right;
	padding-top: 4px;
}
.hotels-accordion .accordion-header {
    background-color: #555555;
    color: white;
    cursor: pointer;
    font-size: 0.813em;
    line-height: 0.813em;
}
.hotels-accordion .accordion-header.accordion-header-open .accordion-arrow:after { content: "\25BC" }
.hotels-accordion .accordion-header.accordion-header-close .accordion-arrow:after { content: "\25BA" }


.filters { display: none }
.filters h3 {
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
}
.filters .accordion-content { border: none }
.filters .items { overflow: hidden }
.filters .price .item { margin: 5px 0 5px 10px }
.filters .price .item ul:before,
.filters .price .item ul:after {
    content: "";
    display: table;
}
.filters .price .item ul:after { clear: both }
.ie6 .filters .price .item ul,
.ie7 .filters .price .item ul { zoom: 1 }
.filters .price .item li {
    margin: 0 5px 0 0;
    float: left;
    width: auto;
    height: 25px;
    line-height: 25px;
}
.filters .price .currency .custom-label { margin: 0 10px 0 0 }
.filters .price .currency .radio { margin: 0 15px 0 0 }
.filters .price .values input { width: 35px }
.filters .price .values a { margin-top: 2px }
.filters .price .clean {
    padding: 0 0 5px 0;
    display: none;
}


.filters .time-outbound .item,
.filters .stars .item,
.filters .amenities .item,
.filters .type .item,
.filters .zones .item,
.filters .unique-airline .item,
.filters .airport-inbound .item,
.filters .airlines .item { line-height: 22px }
.filters .time-outbound .item strong,
.filters .stars .item strong,
.filters .amenities .item strong,
.filters .type .item strong,
.filters .zones .item strong,
.filters .unique-airline .item strong,
.filters .airport-inbound .item strong,
.filters .airlines .item strong { font-weight: bold }
.filters .time-outbound .item custom-label,
.filters .stars .item custom-label,
.filters .amenities .item custom-label,
.filters .type .item custom-label,
.filters .zones .item custom-label,
.filters .unique-airline .item custom-label,
.filters .airport-inbound .item custom-label,
.filters .airlines .item custom-label {
    width: 100%;
    display: block;
    padding: 2px 0;
}
.filters .time-outbound .item custom-label:before,
.filters .stars .item custom-label:before,
.filters .amenities .item custom-label:before,
.filters .type .item custom-label:before,
.filters .zones .item custom-label:before,
.filters .unique-airline .item custom-label:before,
.filters .airport-inbound .item custom-label:before,
.filters .airlines .item custom-label:before,
.filters .time-outbound .item custom-label:after,
.filters .stars .item custom-label:after,
.filters .amenities .item custom-label:after,
.filters .type .item custom-label:after,
.filters .zones .item custom-label:after,
.filters .unique-airline .item custom-label:after,
.filters .airport-inbound .item custom-label:after,
.filters .airlines .item custom-label:after {
    content: "";
    display: table;
}
.filters .time-outbound .item custom-label:after,
.filters .stars .item custom-label:after,
.filters .amenities .item custom-label:after,
.filters .type .item custom-label:after,
.filters .zones .item custom-label:after,
.filters .unique-airline .item custom-label:after,
.filters .airport-inbound .item custom-label:after,
.filters .airlines .item custom-label:after { clear: both }
.ie6 .filters .time-outbound .item custom-label,
.ie6 .filters .stars .item custom-label,
.ie6 .filters .amenities .item custom-label,
.ie6 .filters .type .item custom-label,
.ie6 .filters .zones .item custom-label,
.ie6 .filters .unique-airline .item custom-label,
.ie6 .filters .airport-inbound .item custom-label,
.ie6 .filters .airlines .item custom-label,
.ie7 .filters .time-outbound .item custom-label,
.ie7 .filters .stars .item custom-label,
.ie7 .filters .stops .item custom-label,
.ie7 .filters .type .item custom-label,
.ie7 .filters .zones .item custom-label,
.ie7 .filters .unique-airline .item custom-label,
.ie7 .filters .airport-inbound .item custom-label,
.ie7 .filters .airlines .item custom-label { zoom: 1 }
.filters .time-outbound .item input,
.filters .stars .item input,
.filters .amenities .item input,
.filters .type .item input,
.filters .zones .item input,
.filters .unique-airline .item input,
.filters .airport-inbound .item input,
.filters .airlines .item input {
    margin: 5px 5px 0 10px;
    float: left;
    display: block;
}
.filters .time-outbound .item .custom-label,
.filters .stars .item .custom-label,
.filters .amenities .item .custom-label,
.filters .type .item .custom-label,
.filters .zones .item .custom-label,
.filters .unique-airline .item .custom-label,
.filters .airport-inbound .item .custom-label,
.filters .airlines .item .custom-label { float: none; }
.filters .time-outbound .item .total,
.filters .stars .item .total,
.filters .amenities .item .total,
.filters .type .item .total,
.filters .zones .item .total,
.filters .unique-airline .item .total,
.filters .airport-inbound .item .total,
.filters .airlines .item .total {
    float: right;
    width: auto;
    margin: 0 10px 0 0;
}
.filters .time-outbound .disabled,
.filters .stars .disabled,
.filters .amenities .disabled,
.filters .type .disabled,
.filters .zones .disabled,
.filters .unique-airline .disabled,
.filters .airport-inbound .disabled,
.filters .airlines .disabled { cursor: default }
.filters .time-outbound .disabled input,
.filters .stars .disabled input,
.filters .amenities .disabled input,
.filters .type .disabled input,
.filters .zones .disabled input,
.filters .unique-airline .disabled input,
.filters .airport-inbound .disabled input,
.filters .airlines .disabled input { cursor: default }
.filters .type .custom-label { width: 155px }
.filters .zones custom-label,
.filters .unique-airline custom-label { padding: 0 0 5px 0 }
.filters .zones custom-label:before,
.filters .unique-airline custom-label:before,
.filters .zones custom-label:after,
.filters .unique-airline custom-label:after {
    content: "";
    display: table;
}
.filters .zones custom-label:after,
.filters .unique-airline custom-label:after { clear: both }
.ie6 .filters .zones custom-label,
.ie6 .filters .unique-airline custom-label,
.ie7 .filters .zones custom-label,
.ie7 .filters .unique-airline custom-label { zoom: 1 }
.filters .zones span,
.filters .unique-airline span {
    float: left;
    width: 155px;
    line-height: 15px;
    padding: 5px 0 0 0;
}
.filters .airport-inbound .label { width: 155px }
.filters .airlines a { margin: 0 0 0 10px }
.filters .airlines img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}
.filters .airlines .item {
    height: 25px;
    line-height: 25px;
}
.filters .amenities .all { margin: 0 0 20px 0 }
.filters .amenities .hidden { display: none }
.filters .unique-airline span { width: auto }
.filters .show-all { clear: both }
.btctrip .filters { 
	color: #444444 ;
	background-color: white;
	width: 230px;
}
.btctrip .filters h3 {
    color: #222222;
    font-size: 16px;
} 
.btctrip .filters h3 {
    color: #222222;
    font-size: 16px;
}
.btctrip .filters .price .item { font-size: 11px }
.btctrip .filters .price .values input { width: 47px }
.btctrip .filters .stars .item,
.btctrip .filters .amenities .item,
.btctrip .filters .type .item,
.btctrip .filters .zones .item,
.btctrip .filters .airlines .item { font-size: 11px }
.btctrip .filters .stars .item .selected,
.btctrip .filters .amenities .item .selected,
.btctrip .filters .type .item .selected,
.btctrip .filters .zones .item .selected,

.btctrip .filters .airlines .item .selected { background: #eeeeee }
.btctrip .filters .time-outbound .disabled,
.btctrip .filters .stars .disabled,
.btctrip .filters .amenities .disabled,
.btctrip .filters .type .disabled,
.btctrip .filters .zones .disabled,
.btctrip .filters .airport-inbound .disabled,
.btctrip .filters .airlines .disabled { color: #888888 }
.btctrip .filters .airlines .item { font-size: 11px }
.btctrip .filters .zones span,
.btctrip .filters .unique-airline span { font-size: 11px }
.popup-filter-error {
    font-size: 11px;
    margin: 10px;
    width: 280px;
}

input.hotels-input,
textarea.hotels-input,
select.hotels-select {
    width: 200px;
    height: 20px;
    line-height: 20px;
    padding: 1px;
    border: 1px solid #dddddd;
    border-top: 1px solid #919191;
    color: #333333;
    font-size: 11px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
}
input.hotels-input:focus,
textarea.hotels-input:focus,
select.hotels-select:focus {
    outline: 0;
    border: 1px solid #FF4400;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset,#01a9db 0 0 2px 0;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset,#01a9db 0 0 2px 0;
    box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset,#01a9db 0 0 2px 0;
}
input.hotels-input.error,
textarea.hotels-input.error,
select.hotels-select.error { border: 1px solid red }
.hotels-button {
    overflow: hidden;
    display: inline-block;
    line-height: 2.2em;
    color: white;
    border: 1px solid #c00811;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 1px 0 black;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
}

.hotels-mini-button {
    overflow: hidden;
    display: inline-block;
    line-height: 1.75em;
    color: #0e6695;
    border: 1px solid silver;
    font-family: sans-serif;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 1px 0 #aeaeae;
    -webkit-border-radius: 1.1em;
    -moz-border-radius: 1.1em;
    -ms-border-radius: 1.1em;
    -o-border-radius: 1.1em;
    border-radius: 1.1em;
}
.hotels-mini-button:active {
    position: relative;
    top: 1px;
}
.hotels-mini-button.disabled:active { position: static }
.hotels-mini-button span {
    display: block;
    padding: 0 11px;
}
.hotels-mini-button:visited { color: #0e6695 }
.hotels-mini-button:hover {
    text-decoration: none;
    color: #0e6695;
}
.hotels-mini-button span {
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#f3f3f3),color-stop(100%,#a6a6a6));
    background-image: -webkit-linear-gradient(#f3f3f3,#a6a6a6);
    background-image: -moz-linear-gradient(#f3f3f3,#a6a6a6);
    background-image: -o-linear-gradient(#f3f3f3,#a6a6a6);
    background-image: linear-gradient(#f3f3f3,#a6a6a6);
    -webkit-box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.5);
    box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.5);
}
.hotels-mini-button span:hover {
    background-color: #f4f2f2;
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,#c0c0c0));
    background-image: -webkit-linear-gradient(rgba(255,255,255,0),#c0c0c0);
    background-image: -moz-linear-gradient(rgba(255,255,255,0),#c0c0c0);
    background-image: -o-linear-gradient(rgba(255,255,255,0),#c0c0c0);
    background-image: linear-gradient(rgba(255,255,255,0),#c0c0c0);
    -webkit-box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.5),inset 0 0 1em #f4f2f2;
    -moz-box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.5),inset 0 0 1em #f4f2f2;
    box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.5),inset 0 0 1em #f4f2f2;
}
.hotels-mini-button span:active {
    text-shadow: 0 -1px 0 #aeaeae;
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#f3f3f3),color-stop(100%,#a6a6a6));
    background-image: -webkit-linear-gradient(#f3f3f3,#a6a6a6);
    background-image: -moz-linear-gradient(#f3f3f3,#a6a6a6);
    background-image: -o-linear-gradient(#f3f3f3,#a6a6a6);
    background-image: linear-gradient(#f3f3f3,#a6a6a6);
    -webkit-box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.1),inset 0 0.1em 0.2em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(0,0,0,0.1),inset 0 0 1em rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.1),inset 0 0.1em 0.2em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(0,0,0,0.1),inset 0 0 1em rgba(0,0,0,0.75);
    box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.1),inset 0 0.1em 0.2em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(0,0,0,0.1),inset 0 0 1em rgba(0,0,0,0.75);
    -webkit-border-radius: 1.1em;
}
.hotels-mini-button.disabled {
    border: 1px solid #755354;
    cursor: not-allowed;
    color: white;
}
.hotels-mini-button.disabled span,
.hotels-mini-button.disabled span:hover,
.hotels-mini-button.disabled span:active {
    text-shadow: 0 -1px 0 black;
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#979797),color-stop(100%,#4b4b4b));
    background-image: -webkit-linear-gradient(#979797,#4b4b4b);
    background-image: -moz-linear-gradient(#979797,#4b4b4b);
    background-image: -o-linear-gradient(#979797,#4b4b4b);
    background-image: linear-gradient(#979797,#4b4b4b);
    -webkit-box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.25),inset 0 0 1em rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.25),inset 0 0 1em rgba(0,0,0,0.75);
    box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.25),inset 0 0 1em rgba(0,0,0,0.75);
}
.ie7 .hotels-mini-button span,
.ie8 .hotels-mini-button span,
.ie9 .hotels-mini-button span {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00F3F3F3',endColorstr='#FFA6A6A6');
}
.ie7 .hotels-mini-button span:hover,
.ie8 .hotels-mini-button span:hover,
.ie9 .hotels-mini-button span:hover {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00FFFFFF',endColorstr='#FFC0C0C0');
}
.ie7 .hotels-mini-button span:active,
.ie8 .hotels-mini-button span:active,
.ie9 .hotels-mini-button span:active {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00F3F3F3',endColorstr='#FFA6A6A6');
}
.ie7 .hotels-mini-button.disabled span,
.ie7 .hotels-mini-button.disabled span:hover,
.ie7 .hotels-mini-button.disabled span:active,
.ie8 .hotels-mini-button.disabled span,
.ie8 .hotels-mini-button.disabled span:hover,
.ie8 .hotels-mini-button.disabled span:active,
.ie9 .hotels-mini-button.disabled span,
.ie9 .hotels-mini-button.disabled span:hover,
.ie9 .hotels-mini-button.disabled span:active {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF979797',endColorstr='#FF4B4B4B');
}

#hotelResults {
	padding-top: 1px;
}

.span3.first {
	margin-left: 1px;
	width: 232px;
}
.messages-error {
    background: none repeat scroll 0 0 #FFFFE1;
    border: 1px solid #FFCC33;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 20px;
}
.messages-error {
    padding: 20px;
/*    margin-top: 10px; 
    margin-bottom: 10px;*/
}
.messages-error:before,
.messages-error:after {
    content: "";
    display: table;
}
.messages-error:after { clear: both }
.ie6 .messages-error,
.ie7 .messages-error { zoom: 1 }
.messages .warningSymbol { float: left }
.messages .text {
    float: left;
    margin: 0 0 0 20px;
    width: 89%;
}
.messages-error .text .message {
    font-size: 16px;
    display: block;
    letter-spacing: -0.5px;
}
.messages-error .text .help {
    margin: 7px 0 0;
    font-size: 13px;
    display: block;
}
.messages-error {
    background: #ffffe1;
    border: 1px solid #ffcc33;
}
.messages-error .text .message { color: #FF6600 }
.messages-error .text .help { color: #222222 }

.pagination {
    padding-top: 10px;
}

.messages-error .warningSymbol {
	float: left;
}

.messages-error .text {
	float: left;
	margin: 0 0 0 20px;
	width: 89%;
}

.btctrip .order {
	margin-bottom: 5px;
	padding: 8px 12px;
}
