#<Location /backoffice >
#       AuthType basic
#       AuthName "Restricted"
#       AuthUserFile /var/www/btctrip.com/.passwd
#       Require valid-user
#</Location>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^v\d{1,3}\.\d{1,3}\.\d{1,3}/(.*) $1  [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>



